<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Contacto</title>
  <link rel="stylesheet" href="estilos.css" />
</head>
<body class="principal_container">
    <header class="header">
    <h1 class="header__h1">Mi portafolio</h1>
    <p>Desarrollador en proceso</p>
    <nav>
      <ul class="header__unordered_list">
        <li class="header__list"><a class="header__direction" href="../index.html">Inicio</a></li>
        <li class="header__list"><a class="header__direction" href="proyectos.html">Proyectos</a></li>
        <li class="header__list"><a class="header__direction" href="contacto.html">Contacto</a></li>
        <li class="header__list"><a class="header__direction" href="sobre-mi.html">Sobre mí</a></li>
     
      </ul>
    </nav>
  </header>

  <main class="principal_information">
    <form class="contact_form"> <!-- Formulary for contact -->
      <fieldset class=" contact_form__principal_container">
        <legend>Formulario de Contacto</legend>

        <label class="contact_form__category" for="nombre">Nombre:</label>
        <input class="contact_form__send" type="text" id="nombre" name="nombre" required />
        <br />

        <label class="contact_form__category" for="email">Correo electrónico:</label>
        <input class="contact_form__send" type="email" id="email" name="email" required />
        <small>Ejemplo: ejemplo@correo.com</small>
        <br />

        <label class="contact_form__category" for="asunto">Asunto:</label>
        <input class="contact_form__send" type="text" id="asunto" name="asunto" />
        <br />

        <label class="contact_form__category" for="mensaje">Mensaje:</label>
        <textarea class="contact_form__send" id="mensaje" name="mensaje" rows="5"></textarea>
        <br />

        <button class="send" type="submit">Enviar</button>
      </fieldset>
    </form>

    <section class="personal_information"> <!-- Gmail -->
        <div class="personal_information__container">
            <h2>Informacion de contacto</h2>
            <p>Correo de contacto:<br />
            <p>johanalexanderriveravasquez@gmail.com </p>
        </div>
    </section>
  </main>

  <footer>
     <p>&copy; 2025 - SSJ Dev</p>
  </footer>
</body>
</html>