<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Proyectos</title>
  <link rel="stylesheet" href="estilos.css">
</head>
<body class="principal_container">
  <header class="header">
    <h1 class="header__h1">Mi portafolio</h1>
    <p>Desarrollador en proceso</p>
    <nav><!-- Navigation Bar -->
      <ul class="header__unordered_list">
        <li class="header__list"><a class="header__direction" href="../index.html">Inicio</a></li>
        <li class="header__list"><a class="header__direction" href="proyectos.html">Proyectos</a></li>
        <li class="header__list"><a class="header__direction" href="contacto.html">Contacto</a></li>
        <li class="header__list"><a class="header__direction" href="sobre-mi.html">Sobre mí</a></li>
     
      </ul>
    </nav>
  </header>
<!-- Section of proyects -->
  <main class="principal_information">
    <section class="principal_information__proyects">
      <h2>Mis Proyectos</h2>

      <article class="container__proyects">
        <h3 class="proyects__number_proyect">Proyecto 1</h3>
        <p>Sistema de login.</p>
        <a class="link_page" href="https://jarv005.github.io/Log_In/">Ver proyecto</a>
      </article>

      <article class="container__proyects">
        <h3 class="proyects__number_proyect">Proyecto 2</h3>
        <p>Pagina Dragon Ball.</p>
        <a class="link_page" href="https://jarv005.github.io/Dragon_Ball/">Ver proyecto </a>
      </article>

      <article class="container__proyects">
        <h3 class="proyects__number_proyect">Proyecto 3</h3>
        <p>Pagina feria comunal.</p>
        <a class="link_page" href="https://jarv005.github.io/Actividad_Feria/">Ver proyecto </a>
      </article>

      <article class="container__proyects">
        <h3 class="proyects__number_proyect">Proyecto 4</h3>
        <p>Pagina Restaurante.</p>
        <a class="link_page" href="https://jarv005.github.io/Restaurante/Menu.html">Ver proyecto </a>
      </article>

        <article class="container__proyects">
        <h3 class="proyects__number_proyect">Proyecto 5</h3>
        <p>Pagina con informacion de prueba.</p>
        <a class="link_page" href="https://jarv005.github.io/Sitio-Web/">Ver proyecto </a>
      </article>

    </section>

    
  </main>

  <footer>
     <p>&copy; 2025 - SSJ Dev</p>
  </footer>
</body>
</html>
