<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Sobre mí</title>
  <link rel="stylesheet" href="estilos.css" />
</head>
<body class="principal_container">
  <header class="header">
    <h1 class="header__h1">Mi portafolio</h1>
    <p>Desarrollador en proceso</p>
    <nav><!-- Navigation bar -->
      <ul class="header__unordered_list">
        <li class="header__list"><a class="header__direction" href="../index.html">Inicio</a></li>
        <li class="header__list"><a class="header__direction" href="proyectos.html">Proyectos</a></li>
        <li class="header__list"><a class="header__direction" href="contacto.html">Contacto</a></li>
        <li class="header__list"><a class="header__direction" href="sobre-mi.html">Sobre mí</a></li>
     
      </ul>
    </nav>
  </header>

  <main class="principal_information">
    <section class="information"><!-- Images about me -->
      <div class="images">
        <img class="information__image" src="../assets/Images/Yo.jpg" alt="Foto del autor"  />
        <img class="information__image" src="../assets/Images/futbol.jpg" alt="Jugando Futbol" >
        <img class="information__image" src="../assets/Images/moto.jpg" alt="Foto moto"  />
        <img class="information__image" src="../assets/Images/moto2.jpg" alt="Foto moto2"  />
      </div>
      <p>Hola, soy Johan Alexander Rivera Vasquez, un desarrollador apasionado por la tecnología y los retos. Bienvenido a mi portafolio donde muestro algunos de mis trabajos y proyectos.</p>
      <p>Tambien soy fanatico de los deportes (en especial el futbol), de dragon ball y el anime en general. Disfruto jugar video juegos y pasear en moto.</p>
      <div class="kameha__contenedor">
      <img src="../assets/Images/Goku.png" alt="Goku lanzando kamehameha" class="kameha__goku">
      <div class="kameha__onda"></div>
    </div>
      <h3>Habilidades</h3> <!-- Skills -->
      <ul>
        <li><strong>HTML5</strong> y <strong>CSS3<strong></li>
        <li><strong>Python</strong></li>
        <li><strong>Arduino</strong></li>
        <li><strong>VEX IQ</strong></li>
      </ul>

    
      
    </section>
  </main>

  <footer>
     <p>&copy; 2025 - SSJ Dev</p>
  </footer>
</body>
</html>